
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset='UTF-8'>

<link href="{% static 'fullcalendar/fullcalendar.min.css' %}"
 rel='stylesheet' />
<link href="{% static 'fullcalendar/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
<script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>

<script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>

<style>
  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }
  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
</style>
</head>


<body>
  <div id='calendar'>

  </div>
  <button id="save"> Save Changes  </button>

<script>
  $(document).ready(function() {

      /* Variable for storing if any changes are left to be stored in DB */
      var changesLeft = false;

      $('#calendar').fullCalendar({
          editable: true,
          eventLimit: true,
      /* All lectures that must be shown on the calendar  */
          events: [
           {% for i in events %}
                    {
                        title: "{{ i.title}}",
                        start: '{{ i.start }}',
                        end: '{{ i.end}}'
                    },
            {% endfor %}
      ],

      /* Function that will be called on successful completion of dragging and dropping of a lecture on to a different place */
    eventDrop : function (event, delta, revertFunc)
    {
      //  console.log(event);
      //  alert(event.title + " was dropped on " + event.start.format());
        if(!confirm(' Do you want to place the lecture here i.e. on ' + event.start.format() ))
        {
            // Reverse the event.
            revertFunc();
        }
        else
        {
            changesLeft = true;
        }
    },
    dragRevertDuration : 500,
    eventOverlap : true
    });
    var save = $('#save');
    save.click(function () {
      //  console.log("Hello");
       var AllEvents = $('#calendar').fullCalendar('getEventSources')[0].events;
      // console.log(AllEvents[0].events);
      // AllEvents = AllEvents[0].events;
      // console.log(AllEvents.length);
       var obj = [];
       var temp = {};
       for(var i = 0 ; i < AllEvents.length; ++i)
       {
           temp.title = AllEvents[i].title;
           temp.start = AllEvents[i].start._d;
          // temp.id = AllEvents[i].id;
           temp.end = AllEvents[i].end;
           obj.push(temp);
       }

       /*console.log("Object");
       console.log(obj);*/

        $.get('/save', {Lectures : JSON.stringify(obj)}, function (data, status) {
            changesLeft = false;
            /*console.log(data);
            console.log(status);*/
            alert("Saved");
          //  location.reload();
        });
    });


    $(window).bind('beforeunload', function(){
        // Prompting user if any changes are left to be saved into the DB.
        if(changesLeft)
            return 'Are you sure you want to leave?';

    });

  });
</script>

</body>
</html>